mixin featuredItems(slice)
    div.row-centered-aired.featured-items.flex-container
        each featuredItem in slice.value.toArray()
            - var illustration = featuredItem.get("illustration")
            div.col-3.center
                div.illustration.round-image(style='background-image: url(' + illustration.getView("icon").url + ');')
                h3 !{featuredItem.get('title') ? featuredItem.get('title').asText() : ''}
                | !{featuredItem.get('summary') ? featuredItem.get('summary').asHtml() : ''}


mixin faq(slice)
    - var flexContainer = slice.label ? " flex-container" : ""
    div(class= "row-centered-aired faq" + flexContainer)
        - var opentag = false;
        - var items = slice.value.toArray()
        each faq in slice.value.toArray()
            div(class= slice.label)
                h3 !{faq.get('question') ? faq.get('question').asText() : 'Empty'}
                | !{faq.get('answer') ? faq.get('answer').asHtml() : 'Empty'}


mixin text(slice)
    div(class = "row-centered-aired text" + ' #{slice.label? slice.label : ""}')
        | !{slice.value.asHtml()}


head
    title !{page.getText("page.title")}
    link(rel="stylesheet", href="/stylesheets/reset.css")
    link(rel="stylesheet", href="/stylesheets/main.css")
    link(rel="stylesheet", href="/stylesheets/page.css")
    link(rel="stylesheet", href="/stylesheets/font.css")
    link(rel="stylesheet", href="/stylesheets/common.css")
    link(rel="stylesheet", href="/stylesheets/vendor/font-awesome.css")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    script(src="/javascript/vendors/jquery-1.11.2.min.js")

body.page
    div.main
        div#page-content
            for slice in page.getSliceZone("page.body").slices
                if slice.sliceType != undefined
                    case slice.sliceType
                        when 'faq'
                            + faq(slice)
                        when 'featured-items'
                            + featuredItems(slice)
                        when 'text'
                            + text(slice)
